.contact-card {
}

.contact-card > img {
  display: block;
  float: left;
  margin: 0.5em;
  height: 64px;
  width: 64px;
  padding: 0;
}

.contact-card > div > p {
  font-size: 0.82em;
  line-height: 1.5em;
}
