.Fortune-Teller {
  /* background-color: #ecf0f1; */
  padding: 1em;
  color: #ecf0f1;
  display: grid;
  /* height: 320px; */
  grid-template-columns: 6px 3fr 1fr 6px;
  grid-template-rows: 6px auto auto auto 6px;
  grid-template-areas: '. . . .' '. title title .' '. panel button .' '. footer footer .' '. . . .';
  gap: 1rem;
  place-items: stretch;
  text-align: center;
  /* border-radius: 1rem; */
  /* box-shadow: inset -1px -1px 4px rgba(110, 207, 246, 0.75), inset 1px 1px 4px rgba(247, 147, 29, 0.82); */
}

.Fortune-Teller .Header {
  grid-area: title;
  /* border: 1px solid #ecf0f1; */
  padding: 24px;
}

.Fortune-Teller .Title {
  font-size: 22px;
  /* color: #2c3e50; */
}

.Fortune-Teller .SubTitle {
  font-style: italic;
  /* text-shadow: 1px 1px 1.5px #27ae60, -1px 1px 1.5px #1abc9c; */
}

.Fortune-Teller,
.Fortune-Teller .Header,
.Fortune-Teller .Panel {
  border: 6px solid #2c3e50;
  border-radius: 0rem;
  box-shadow: -2px -2px 2px 2px orange, inset -4px -4px 6px cyan, inset 2px 2px 3px cyan;
}

.Fortune-Teller .Title,
.Fortune-Teller .SubTitle,
.Fortune-Teller .Panel,
.Fortune-Teller .Footer {
  text-shadow: -1px -1px 0px blue, 1px 1px 0px yellow, -1px -1px 1px cyan, 1px 1px 1px orange;
  letter-spacing: 4px;
}

.Fortune-Teller .Main {
}

.Fortune-Teller .Panel {
  grid-area: panel;
  height: 5em;
  display: grid;
  place-items: center;
}

.Fortune-Teller .Button {
  grid-area: button;
  user-select: none;
  cursor: pointer;
  /* background-color: #ecf0f1; */
  border: 2px solid #ecf0f1;
  border-radius: 50%;
  box-shadow: 4px 4px 6px #27ae60, -4px -4px 6px #1abc9c, inset -4px -4px 6px #e67e22, inset 4px 4px 6px #f1c40f;
  place-self: center;
  padding: 1em;
}

.Fortune-Teller .Button:active {
  grid-area: button;
  cursor: pointer;
  background-color: #e74c3c;
  border-radius: 50%;
  box-shadow: inset -4px -4px 6px #f1c40f, inset 4px 4px 6px #e67e22;
  place-self: center;
  padding: 1em;
}

.Fortune-Teller .Footer {
  grid-area: footer;
  font-style: italic;
  /* text-shadow: 1px 1px 1.5px #27ae60, -1px 1px 1.5px #1abc9c; */
}
