.Fortune-Teller {
  /* background-color: #ecf0f1; */
  padding: 1em;
  /* border: 1px solid #ecf0f1; */
  display: grid;
  /* height: 320px; */
  grid-template-columns: 6px 3fr 1fr 6px;
  grid-template-rows: 6px auto auto auto 6px;
  grid-template-areas: '. . . .' '. title title .' '. panel button .' '. footer footer .' '. . . .';
  gap: 1rem;
  place-items: stretch;
  text-align: center;
}

.Fortune-Teller .Header {
  grid-area: title;
  /* border: 1px solid #ecf0f1; */
  padding: 24px;
}

.Fortune-Teller .Title {
  font-size: 22px;
  /* color: #2c3e50; */
}

.Fortune-Teller .SubTitle {
  font-style: italic;
  /* text-shadow: 1px 1px 1.5px #27ae60, -1px 1px 1.5px #1abc9c; */
}

.Fortune-Teller .Header,
.Fortune-Teller .Panel {
  border-radius: 0.5rem;
  box-shadow: inset 0.125rem 0.125rem 0.25rem rgba(247, 147, 29, 0.82),
    inset -0.125rem -0.125rem 0.25rem rgba(110, 207, 246, 0.75);
}

.Fortune-Teller .Title,
.Fortune-Teller .SubTitle,
.Fortune-Teller .Panel,
.Fortune-Teller .Footer {
  text-shadow: 1px 1px 0px #2c3e50, 1px -1px 0px #2c3e50, -1px 1px 0px #2c3e50, -1px -1px 0px #2c3e50,
    1px 1px 1px rgba(247, 147, 29, 0.82), -1px -1px 1px rgba(110, 207, 246, 0.75);
}

.Fortune-Teller .Main {
}

.Fortune-Teller .Panel {
  grid-area: panel;
  height: 4em;
  display: grid;
  place-items: center;
}

.Fortune-Teller .Button {
  grid-area: button;
  user-select: none;
  cursor: pointer;
  /* background-color: #ecf0f1; */
  border: 2px solid #ecf0f1;
  border-radius: 50%;
  box-shadow: 4px 4px 6px #27ae60, -4px -4px 6px #1abc9c, inset -4px -4px 6px #e67e22, inset 4px 4px 6px #f1c40f;
  place-self: center;
  padding: 1em;
}

.Fortune-Teller .Button:active {
  grid-area: button;
  cursor: pointer;
  background-color: #e74c3c;
  border-radius: 50%;
  box-shadow: inset -4px -4px 6px #f1c40f, inset 4px 4px 6px #e67e22;
  place-self: center;
  padding: 1em;
}

.Fortune-Teller .Footer {
  grid-area: footer;
  font-style: italic;
  /* text-shadow: 1px 1px 1.5px #27ae60, -1px 1px 1.5px #1abc9c; */
}
