.Fortune-Teller {
  background-color: #16a085;
  padding: 1em;
  border: 1px solid #f39c12;
  border-radius: 0.5em;
  display: grid;
  width: 100%;
  height: 320px;
  grid-template-columns: 12px auto 12px;
  grid-template-rows: 12px auto auto auto 12px;
  grid-template-areas: '. . .' '. title .' '. main .' '. footer .' '. . .';
  gap: 1rem;
  place-items: stretch;
}

.FT-Header {
  grid-area: title;
  border: 1px solid #f39c12;
  border-radius: 0.25em;
  padding: 24px;
}

.FT-Title {
  font-size: 22px;
  text-align: center;
  color: #2c3e50;
}

.FT-SubTitle {
  font-style: italic;
  text-align: center;
}

.FT-Main {
  grid-area: main;
}

.FT-Panel {
}

.FT-Button {
  cursor: pointer;
  text-align: center;
  background-color: #e74c3c;
  border: 1px solid #c0392b;
  border-radius: 50%;
  box-shadow: 4px 4px 6px #e67e22, -4px -4px 6px #f1c40f, inset 4px 4px 6px #e67e22, inset -4px -4px 6px #f1c40f;
}

.FT-Footer {
  grid-area: footer;
}
