.menu ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-bottom: 0.5em;
  border-radius: 0.25em;
  border: 0.5em solid #ececec;
  -webkit-box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
}

.menu li a {
  display: block;
  text-decoration: none;
  padding: 8px;
  color: rgba(0, 0, 0, 0.67);
}

.menu li:hover {
  box-shadow: none;
  /* -webkit-box-shadow: inset 2px 2px 3px #b8b9be, inset -3px -3px 3px #fff; */
  /* box-shadow: inset 3px 3px 6px #b8b9be, inset -3px -3px 6px #fff; */
}

a {
  font-size: 18px;
  line-height: 1.5em;
  /* margin: 0.5em 0em; */
  color: rgba(0, 0, 0, 0.67);
}

a:hover {
  color: rgba(0, 0, 0, 0.67);
}

a:active {
  color: rgba(0, 0, 0, 0.25);
}

a:visited {
  color: rgba(0, 0, 0, 0.67);
}
