.fa-js-square {
  color: #f1c40f;
}

.fa-html5 {
  color: #e74c3c;
}

.fa-css3-alt {
  color: #2980b9;
}

.fa-react {
  color: #3498db;
}

.fa-less {
  color: #2980b9;
}

.fa-sass {
  color: #e74c3c;
}

.fa-sketch {
  color: #e67e22;
}

.fa-raspberry-pi {
  color: #c0392b;
}

.fa-node-js {
  color: #27ae60;
}

.fa-npm {
  color: #c0392b;
}

.fa-python {
  color: #27ae60;
}

.fa-aws {
  color: #d35400;
}

.fa-docker {
  color: #2980b9;
}

.fa-dropbox {
  color: #3498db;
}

.fa-git-alt {
  color: #e74c3c;
}

.fa-apple {
  color: #2c3e50;
}

.fa-microsoft {
  color: #2980b9;
}

.fa-linux {
  color: #2c3e50;
}

.fa-ubuntu {
  color: #e74c3c;
}
