body {
  font-family: 'Open Sans', 'Courier New', Courier, monospace;
  /* background-color: #f39c12; */
  background-color: #2c3e50;
  color: #ecf0f1;
  /* line-height: 150%; */
}

p,
.container {
  font-family: 'Roboto', 'Courier New', Courier, monospace;
  line-height: 1.5em;
}

.container {
  padding: 1.5rem;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  margin-bottom: 0.25em;
  text-shadow: 2px 2px 0px #2c3e50, 2px -2px 0px #2c3e50, -2px 2px 0px #2c3e50, -2px -2px 0px #2c3e50,
    3px 3px 0px rgba(247, 147, 29, 0.82), -3px -3px 0px rgba(110, 207, 246, 0.75);
}

h1::before,
h1::after,
h2::before,
h3::after,
h3::before,
h3::after {
  content: ' // ';
}

img {
  max-width: 100%;
  height: auto;
}

.centered {
  text-align: center;
}

.righted {
  text-align: right;
}

.sidep {
  font-family: 'Roboto', 'Courier New', Courier, monospace;
  font-size: 14px;
}

.code {
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  font-size: 14px;
}

a,
a:hover,
a:visited,
a:active {
  color: #ecf0f1;
}
