body {
  font-family: 'Open Sans', 'Courier New', Courier, monospace;
  /* background-color: #f39c12; */
  background-color: #2c3e50;
  color: #ecf0f1;
  /* line-height: 150%; */
}

p {
  font-family: 'Roboto', 'Courier New', Courier, monospace;
}

img {
  max-width: 100%;
  height: auto;
}

.centered {
  text-align: center;
}

.righted {
  text-align: right;
}

.sidep {
  font-family: 'Roboto', 'Courier New', Courier, monospace;
  font-size: 14px;
}

.code {
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  font-size: 14px;
}

a,
a:hover,
a:visited,
a:active {
  color: #ecf0f1;
}
