body {
  font-family: 'Open Sans', 'Courier New', Courier, monospace;
  background-color: #f39c12;
  color: #2c3e50;
  line-height: 150%;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 33px;
  color: #34495e;
}

h3 {
  font-size: 22px;
  color: #34495e;
}

p {
  font-family: 'Roboto', 'Courier New', Courier, monospace;
  font-size: 16px;
  color: #34495e;
}

img {
  max-width: 100%;
  height: auto;
}

.centered {
  text-align: center;
}

.righted {
  text-align: right;
}

.sidep {
  font-family: 'Roboto', 'Courier New', Courier, monospace;
  font-size: 14px;
  color: #34495e;
}

.code {
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  font-size: 14px;
  color: #34495e;
}

a,
a:hover,
a:visited {
  color: #34495e;
}

a:active {
  color: #2c3e50;
}
