.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 12px auto 12px;
  grid-template-rows: 12px auto auto auto auto auto 12px;
  grid-template-areas: '. . .' '. header .' '. leftmenu .' '. main .' '. rightmenu .' '.footer .' '. . .';
  gap: 1rem;
  place-items: start;
}

@media only screen and (min-width: 500px) {
  .container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 12px 20% auto 20% 12px;
    grid-template-rows: 12px 12.5% auto 12.5% 12px;
    grid-template-areas: '. . . . .' '. header header header .' '. leftmenu main rightmenu .' '. leftmenu footer footer .' '. . . . .';
    gap: 1rem;
    place-items: start;
  }
}

.container > div {
  background-color: #f39c12;
  border-radius: 1rem;
}

.header {
  grid-area: header;
}

.leftmenu {
  grid-area: leftmenu;
}

.main {
  grid-area: main;
}

.rightmenu {
  grid-area: rightmenu;
}

.footer {
  grid-area: footer;
}
